.input {
  width: 100%;
  height: 50px;
  padding: 8px 12px;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 400;
  border-radius: var(--radius-sm);

  &:focus {
    outline: none;
  }
}
